# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Ask @cmenon12 to review all pull requests
*       @cmenon12
