services:
  app:
    build: .
    ports:
      - "3001:3001"
    env_file: ".env"
    depends_on:
      - mongodb

  mongodb:
    image: mongo:8.0
    ports:
      - "27017:27017"
    env_file: ".env"
    restart: unless-stopped
    volumes:
      - mongodb-data:/data/db

volumes:
  mongodb-data:
