{% extends "template.njk" %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  There is a problem with the service – Gov Prototype by Prompt
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">Try again later.</p>
      {% if errorId %}
        <p class="govuk-body">If the problem persists, please contact support and provide the following error ID: <strong style="user-select: all">{{ errorId }}</strong>.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}