{% extends "template.njk" %}

{% block pageTitle %}
  Your prototypes – Gov Prototype by Prompt
{% endblock %}

{% block content %}
  <p class="govuk-body">
    {{ historyPageVM.summaryText }}
  </p>

  <div class="govuk-button-group">
    {{ govukButton({ text: "Create a prototype", href: "/create" }) }}
    {% if historyPageVM.hasPrototypes %}
      {{ govukButton({ text: "Reset filters", href: "/history", classes: "govuk-button--secondary" }) }}
    {% endif %}
  </div>

  {% if historyPageVM.hasPrototypes %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {{ govukSelect({
        id: "onlyCreated",
        name: "onlyCreated",
        label: { text: "Filter by type" },
        items: historyPageVM.filterOnlyCreatedItems
      }) }}
      </div>

      <div class="govuk-grid-column-one-half">
        {{ govukSelect({
        id: "createdBy",
        name: "createdBy",
        label: { text: "Filter by creator" },
        items: historyPageVM.filterCreatedByItems
      }) }}
      </div>
    </div>

    {{ govukTable({ head: header, rows: prototypeRows }) }}

    {% if historyPageVM.showPagination %}
      {{ govukPagination({
      previous: { href: historyPageVM.paginationPreviousHref },
      next: { href: historyPageVM.paginationNextHref },
      items: historyPageVM.paginationItems
    }) }}
    {% endif %}

    {{ govukRadios({
      classes: "govuk-radios--inline govuk-radios--small",
      id: "itemsPerPage",
      name: "itemsPerPage",
      fieldset: {
        legend: {
          text: "Items per page",
          isPageHeading: false
        }
      },
      items: perPageItems
    }) }}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {{ super() }}
  <script>
    // Reload the page if the user navigates back
    // This makes sure the submit button is re-enabled
    window.addEventListener("pageshow", function (event) {
      const historyTraversal = event.persisted || (typeof window.performance !== "undefined" && window.performance.getEntriesByType('navigation').length > 0 && window.performance.getEntriesByType('navigation')[0].type === 'back_forward');
      if (historyTraversal) {
        window
          .location
          .reload();
      }
    });

    {% if totalPrototypes > 0 %}
      const formInputs = document.querySelectorAll('input[name="itemsPerPage"], select');

      // Handle the click event for the onlyCreated radio input
      formInputs.forEach(input => {
        input.addEventListener('change', function (event) {

          // Get the values
          const onlyCreatedSelectValue = document
            .querySelector('select[name="onlyCreated"]')
            .value;
          const createdBySelectValue = document
            .querySelector('select[name="createdBy"]')
            .value;
          const workspaceSelectValue = document
            .querySelector('select[name="workspace"]')
            .value;
          const sharingSelectValue = document
            .querySelector('select[name="sharing"]')
            .value;
          const itemsPerPageRadioValue = document.querySelector('input[name="itemsPerPage"]:checked')
            ?.value ?? '10';

          // Redirect to the same page with the selected filter
          const url = new URL(window.location.href);
          url
            .searchParams
            .set('onlyCreated', onlyCreatedSelectValue);
          url
            .searchParams
            .set('createdBy', createdBySelectValue);
          url
            .searchParams
            .set('workspaceId', workspaceSelectValue);
          url
            .searchParams
            .set('sharing', sharingSelectValue);
          url
            .searchParams
            .set('page', '1'); // Reset to the first page
          url
            .searchParams
            .set('perPage', itemsPerPageRadioValue);
          window.location.href = url.toString();
        });
      });
    {% endif %}
  </script>
{% endblock %}